<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Autenticación</title>
</head>
<body class="<%= themeColor %>">
  <%- include('./partials/header') %>
  <main>
    <h3>Autenticación</h3>
    <% if (typeof errors !== 'undefined' && errors.length) { %>
      <section id="display-errors-section">
        <h4>Por favor corrige los errores</h4>
        <ul>
          <% errors.forEach((error) => { %>
            <li><strong><%= error %></strong></li>
          <% }) %>
        </ul>
      </section>
    <% } %>
    <% if (!user) { %>
      <section>
        <p>Para simular una autenticación se puede hacer con un correo y una contraseña falsa.</p>
        <form action="/login" method="post">
          <label for="user">Nombre: <input type="email" name="user" value="<%= user || '' %>"></label><br>
          <label for="password">Contraseña: <input type="password" name="password" ></label><br>
          <button>Enviar</button>
        </form>
      </section>
    <% } else { %>
      <p>Ya estas autenticado, el usuario es <%= user %></p>
    <% } %>
    <section>
      <p><a href="/">Volver al inicio</a></p>
    </section>
  </main>
  <%- include('./partials/footer') %>
</body>
</html>