<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Preferencias</title>
</head>
<body class="<%= themeColor %>">
  <%- include('./partials/header') %>
  <main>
    <section>
      <p><a href="/">< Volver al inicio</a></p>
    </section>
    <h3>Preferencias</h3>
    <section>
      <% if (user) { %>
        <h4>Usuario: <%= user %></h4>
      <% } %>
      <h4>Color del tema: <%= themeColor %></h4>
    </section>
    <section>
      <p><a href="/theme/light">Tema Claro</a> <a href="/theme/dark">Tema Oscuro</a></p>
    </section>
  </main>
  <%- include('./partials/footer') %>
</body>
</html>